body {
   padding-top: 70px;
}

.vis-item.vis-tag {
  color: white;
  background-color: red;
  border-color: darkred;
}

.vis-item {
/*	height: 100% !important;*/
/*	top: 0px !important;*/
}

.vis-group, .vis-center {
/*	height: 32px !important;*/
}

.vis-timeline {
	border: none !important;
}

.container-full {
	padding: 0px !important;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}


.circular {
    background-image: url("/assets/images/default.png");
    display: inline-block;
	margin:8px;	
	text-align:right;
	font-size: 20px;
	color:red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.circular-offline {
  	border: 3px solid #DA5555;
}

.circular-online {
  	border: 3px solid #BADA55;
}

input,button {
    color: black;
}

footer {
	z-index:10;
	padding-top: -25px;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}