@(groupId : String, userId : String)

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-info">
			<div class="btn-group pull-right">
				<div class="form-inline">
					<div class="btn btn-warning" onclick="playStop()" id="playStop">
						<i class="fa fa-pause"></i>
					</div>
					<div class="btn btn-primary" onclick="timeline.setRealtime()"
						id="goToPresent">
						<i class="fa fa-step-forward"></i>
					</div>
					<div class="btn btn-info" onclick="setTimeLink()"
					data-toggle="modal" data-target="#timeQueryStringModal">
						<i class="fa fa-link"></i>
					</div>
					<div class="btn btn-success" 
					data-toggle="modal" data-target="#createTagModal">
						<i class="fa fa-tag"></i>
					</div>
					<div class="btn btn-primary hidden" onclick="saveTags()"
						id="saveButton">
						<i class="fa fa-floppy-o"></i>
					</div>
				</div>
			</div>
			<div class="panel-heading" data-toggle="collapse"
				data-target="#collapse3">
				<h4 class="panel-title">Timeline</h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse in">
				<div class="panel panel-default container-full"
					style="margin-bottom: 0px;">
					<div id="timeline"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="btn-group pull-right">
				<button class="btn btn-default" onclick="toggleAutoSelect()">			
					<i id="autoSelect" class="fa fa-thumb-tack"></i>
				</button>
				
				
				<button class="btn btn-default" onclick="toggleMicrophone()">
					<i id="soundIcon" class="fa fa-microphone text-success" ></i>
				</button>
				<button type="button" class="btn btn-primary" 
					onclick="toggleVideo()">
					<i id="toggleVideo" class="fa fa-users"></i>
				</button>
				<button type="button" class="btn btn-primary" 
					onclick="toggleVideoSize()">
					<i class="fa fa-expand"></i>
				</button>
				
				
					
			</div>
			<div class="panel-heading" data-toggle="collapse"
				data-target="#collapse0">
				<h4 class="panel-title">Video</h4>
				<div id="soundValues">
				
				</div>
			</div>
			<div id="collapse0" class="panel-collapse collapse in">
				<div class="panel-body" id="videoPanel">
					<div id="videoWrapper">
						<div id="mainVideoContent">
							<div id="previewContent"></div>
						</div>
						<video id='myvideo' autoplay></video>
						<video id='onlyAudio' autoplay class="hidden"></video>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-success" id="addMembers" data-toggle="modal" data-target="#addMembersModal">
					<i class="fa fa-plus"></i>
				</button>
			</div>
			<div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
				<h4 class="panel-title">Users</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<ul class="media-list">
						<li class="media">
							<div class="media-body" id="videoMembers"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse"
				data-target="#collapse2">
				<h4 class="panel-title">Recent chat history</h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse in">
				<div class="panel-body" style="max-height: 336px; overflow: auto;"
					id="messagesPanel">
					<ul class="media-list" id="messagesList">
					</ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Enter Message" id="messageText"
							onkeydown="if(event.keyCode==13){sendMessage();}" />
						<span class="input-group-btn">
							<button class="btn btn-info" type="button" id="sendMessageButton"
								onclick="sendMessage()">Send</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse"
				data-target="#collapse5">
				<h4 class="panel-title">Content editor</h4>
			</div>
			<div id="collapse5" class="panel-collapse collapse in">
				<form class="form">
					<div class="panel-body">
						<label>Begin:</label>
						<div class='input-group date' id='datetimepicker1'>
							<input type='text' class="form-control" id="contentStart" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<label>End:</label>
						<div class='input-group date' id='datetimepicker2'>
							<input type='text' class="form-control" id="contentEnd" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<div class="form-group">
							<label for="comment">Content:</label>
							<textarea class="form-control" rows="5" id="contentText" name="content"></textarea>
						</div>
						<div class="input-group">
							<label for="comment">Is Caption:</label> <input type="checkbox"
								id="contentCaption" checked />
						</div>
					</div>
					<div class="panel-footer">				
						<div class="btn-group input-group pull-right">
							<button type="button" class="btn btn-danger"
								onclick="clearContent()">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								Clear
							</button>
							<button type="button" class="btn btn-info"
								onclick="previewContent()">
								<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								Preview
							</button>
							<button type="button" class="btn btn-success"
								onclick="createContent()">
								<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
								Save
							</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
