@(groupId : String, groupName : String, userId : String, inviteToken : String) @template(1){

	<script type="text/javascript" src="/assets/this/js/adapter.js"></script>
	<script type="text/javascript" src="/assets/this/js/hyper.socket.js"></script>
	<script type="text/javascript" src="/assets/this/js/hyper.timeline.js"></script>
	<script type="text/javascript" src="/assets/this/js/scripts.js"></script>


	
	<div id="addMembersModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Member</h4>
				</div>
				<div class="modal-body">
				<div id="imaginary_container"> 
	                <div class="input-group stylish-input-group">
	                    <input type="text" class="form-control"  placeholder="Search" onchange="candidate_search(this.value)">
	                    <span class="input-group-addon">
	                        <button type="submit">
	                            <span class="fa fa-search"></span>
	                        </button>  
	                    </span>
	                </div>
	            </div>	
				<ul class="media-list" id="candidateList">
				</ul>				
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div id="groupSettingsModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Group Settings</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-info">
								<div class="panel-heading">INVITE</div>
								<div class="panel-body">
									<div class="input-group">
										<input type="text" class="form-control" id="invite">
						                 <span class="input-group-addon" onclick="createInvite2()">
						                     Create
						                 </span>	
						  				<span class="input-group-addon" onclick="deleteInvite2()">
											 Delete
						                 </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="container-fluid">
		<div class="container">	
			<div>@group_video(groupId,userId)</div>
		</div>
	</div>
	<script>
		var mySearch = {
			source: function(query,process){
				Signaling.searchInsideGroup("@groupId",query, function( array ) {
					console.log(array);
					process(array);
				});			
			},
			displayText: function(item){
				return item.title;
			},
			highlighter: function(item){
				if(item.type=="tag"){
					return "<i class='fa fa-tag'></i> "  + item.title + " <small>("+friendlyTime(item.time)+")</small>";
				}else {
					return "<i class='fa fa-font'></i> " + item.name ;
				}
			},
			matcher: function(item){
				return true;
			},
			updater:function(item){
				if(item.type=="tag"){
					timeline.setHistoric(item.time);
				}
				console.log(item);
				return item;
			}
		};
		function createInvite2(){
			Signaling.createInvite("@groupId",function(token){
				$("#invite").val($(location).attr('protocol')+"//"+$(location).attr('host')+"/join/@groupId/" + token);	
			});
		}

		function deleteInvite2(){
			Signaling.deleteInvite("@groupId",function(){
				$("#invite").val("");	
			});
		}
		
		function del_user_group(uid) {
			var success = function() {
				document.location = document.location;
			};
			Signaling.removeUserGroup("@groupId", uid, success);
		}
		
		function add_user_group(uid) {
			var success = function() {
				document.location = document.location;
			};
			Signaling.addUserGroup("@groupId", uid, success);
		}
		
		function candidate_search(query) {
		
			var result = function(array) {
				
				var html = "";
				for ( var i in array) {
					var uid = array[i].uid;
					var name = array[i].name;

					var style2='style="background-image:url(/photo/'+uid+');height:40px;width:40px"';
					var add_button = "<i style='color:green' onclick='add_user_group(\"" + uid	+ "\")' class='fa fa-plus'></i>";
					html += '<div class="media"><a '+style2+' class="pull-left media-object circular"></a>'+
					'<div class="media-body"><h5>'+name+' | User | '+add_button+'</h5></div></div>';
				}
				$("#candidateList").html(html);
			};
			Signaling.searchGroupCandidates("@groupId", query, result);
		}
		
		function onKurentoOpen(){
			console.log("WebSocket Ok!");
			var attrs = parseQuery(document.location.search);
			if(attrs.time){
				timeline.setHistoric(new Date(attrs.time));
			}
		}
		
		$(document).ready(function() {
			switchTab("#mytabs","#mybtns",1);
			
			$('#searchNav').show();
			$('#searchText').typeahead(mySearch);	
			
			$("#navbar-list").append("<li><a>@groupName</a></li>");
			
			Kurento.start("@groupId",onKurentoOpen ,participantOnline, videoStream, mixedStream, intervalRecorded, messageArrived,tagArrived, onContentArrived);
			
			
			$("#refresh-button").click(function() {
				document.location = document.location;
			});
			
			$("#home-button").click(function() {
				document.location = "/";
			});
	
			@if(inviteToken!=null){
				$("#invite").val($(location).attr('protocol')+"//"+$(location).attr('host')+"/join/@groupId/" + @inviteToken);	
			}
		
			
			Signaling.listGroupMembers("@groupId",function(array) {
				for ( var i in array) {
					var uid = array[i].uid;
					var name = array[i].name;
	
					var del_button = "<i style='color:red' onclick='del_user_group(\""+ uid+ "\")' class='fa fa-times'></i>";
					var onclick = 'onclick=\'selectUser("'+uid+'")\'';
					var style1='style="background-image:url(/photo/'+uid+');height:100px;width:100px"';
					var style2='style="background-image:url(/photo/'+uid+');height:40px;width:40px"';
	
					$("#videoMembers").append(
						'<div class="media" '+ onclick+'>'+
						'<a id="vidMember'+uid+'" '+style2+' class="pull-left media-object circular"></a>'+
						'<div class="media-body"><h5>'+name+' '+del_button+'</h5><small class="text-muted">Active From 3 hours</small></div></div>'
					);
					
					$("#messengerMembers").append(
						'<div class="media">'+
						'<a id="msgMember'+uid+'" '+style2+' class="pull-left media-object circular circular-offline"></a>'+
						'<div class="media-body"><h5>'+name+' </h5><small class="text-muted">Active From 3 hours</small></div></div>'
					);
				}
			});
		});	
	</script>
}
