@(groupId : String, userId : String)


<div class="row">


	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">INVITE</div>
			<div class="panel-body">
		
			<div class="input-group">
				<input type="text" class="form-control" id="invite">
                 <span class="input-group-addon" onclick="createInvite2()">
                     Create
                 </span>	
  				<span class="input-group-addon" onclick="deleteInvite2()">
					 Delete
                 </span>
			</div>
			</div>
		</div>
	</div>
	

</div>
<style>
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
</style>

<script>

	function createInvite2(){
		Signaling.createInvite("@groupId",function(token){
			$("#invite").val($(location).attr('protocol')+"//"+$(location).attr('host')+"/join/@groupId/" + token);	

		});
	}

	function deleteInvite2(){
		Signaling.deleteInvite("@groupId",function(){
			$("#invite").val("");	

		});
	}
	
	
</script>