@(groupId : String, groupName : String, userId : String, inviteToken : String) @template(1){

	<script type="text/javascript" src="/assets/this/js/adapter.js"></script>
	<script type="text/javascript" src="/assets/this/js/hyper.socket.js"></script>
	<script type="text/javascript" src="/assets/this/js/hyper.timeline.js"></script>
	<script type="text/javascript" src="/assets/this/js/scripts.js"></script>

	<div id="timeQueryStringModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Time HyperLink</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>URL:</label> 
						<input type="text" class="form-control" id="timeQueryString">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default btn-info" onclick="copyLink()">Select</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="removeMemberModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Remove member</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to remove <b id="removeUserName"></b> from this group?					
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default btn-danger" id="removeUserButton">Remove</button>
				
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="addMembersModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Member</h4>
				</div>
				<div class="modal-body">
					<label>Group invitation link</label>
					<div class="input-group">
						<input type="text" class="form-control" id="invite"> <span
							class="input-group-addon" onclick="createInvite2()"> Create
						</span> <span class="input-group-addon" onclick="deleteInvite2()">
							Delete </span>
					</div>
					<label>Add Members manually</label>
					<div id="imaginary_container">
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control" placeholder="Search"
								onchange="candidate_search(this.value)"> <span
								class="input-group-addon">
								<button type="submit">
									<span class="fa fa-search"></span>
								</button>
							</span>
						</div>
					</div>
					<ul class="media-list" id="candidateList">
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div id="participantModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Preferences</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="panel panel-red" onclick="kurentoStart(0)">
								<div class="panel-heading" style="text-align: center;">
									<i class="fa fa-video-camera" style="font-size: 6em;"></i>
								</div>
								<a href="#">
									<div class="panel-footer">
		                                <span class="pull-left">Share camera</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
	                            </a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-green" onclick="kurentoStart(1)">
								<div class="panel-heading " style="text-align: center;">
									<i class="fa fa-desktop" style="font-size: 6em;"></i>
								</div>
								<a href="#">
									<div class="panel-footer">
		                                <span class="pull-left">Share screen</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
	                            </a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-primary" onclick="kurentoStart(2)">
								<div class="panel-heading " style="text-align: center;">
									<i class="fa fa-eye" style="font-size: 6em;"></i>
								</div>
								<a href="#">
									<div class="panel-footer">
		                                <span class="pull-left">Watch only</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
	                            </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="createTagModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create TAG</h4>
				</div>
				<form id="createTagForm">
					<div class="modal-body">
						<div class="form-group">
							<label class="control-label">TAG Name:</label>
							<input class="form-control" type="text" id="tagTitle" /> 
						</div>
					</div>
					<div class="modal-footer">
						<div class="input-group pull-right">
							<input type="submit" class="btn btn-success" id="addMembers"/>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="container">	
			@group_video(groupId,userId)
		</div>
	</div>
	<script>
		var group = true;
		var selectedUser = "@userId";
		var savedUser = "@userId";
		var real_time = true;
		var unsaved_tags = [];
		var firstRecording = true;
		var participants = {};
		var timeline = null;
		var current_offset = 0;
		var oldestMsg = null;
		var localContent = [];
		var moreContent = true;
		var contentTimer = null;
		
		function setTimeLink(){
			$("#timeQueryString").val(window.location.href.split("?")[0] + "?time=" +timeline.getMyTime().toISOString() );
		}
		
		function receiveMore() {
			if (oldestMsg) {
				Kurento.receiveMore(oldestMsg, 1);
			}
		}
		
		function intervalRecorded(array) {
			console.log("REC", array);
			for ( var id in array) {
				var start = array[id][0];
				var end = array[id][1];
				timeline.setRecord(id, start, end);
			}
			if (firstRecording) {
				firstRecording = false;

				timeline.fit({
					animation : false
				});
			}
		}

		function videoStream(streamUrl) {
			selectVideo(null);
			var video = document.getElementById("myvideo");
			video.src = streamUrl;
			return video;
		}

		function mixedStream(streamUrl) {
			var video = document.getElementById("onlyAudio");
			video.src = streamUrl;
			return video;
		}

		function participantInfo(userId, name, online) {
			if (!participants[userId]) {
				participants[userId] = true;
			
				var del_button = "<i style='color:red' onclick='removeMemberConfirmation(\""+ userId+ "\",\""+name+"\")' class='fa fa-times'></i>";
				var onclick = 'onclick=\'selectUser("'+userId+'")\'';
				var style='style="background-image:url(/photo/'+userId+');height:40px;width:40px" class="pull-left media-object circular"';

				$("#videoMembers").append(
					'<div id="vidMember'+userId+'" '+ onclick+'>'+
					'<a '+style+'></a>'+
					'<div class="media-body"><h5>'+name+' '+del_button+'</h5><small class="text-muted">Active From 3 hours</small></div></div>'
				);		
			}
			
			if(online){
				$("#vidMember" + userId).attr('class', "media circular-online");
			}else {
				$("#vidMember" + userId).attr('class', "media circular-offline");				
			}
		}

		function tagArrived(id, time, title, content) {
			console.log(id, time, title, content);
			timeline.loadTag(id, time, title, content);
		}

		function messageArrived(userId, time, text, name, mid, seq) {
			var html = '<li class="media"><div class="media-body"><div class="media">'
					+ '<a class="pull-left" href="#"><img class="media-object img-circle"  style="height: 40px;" src="/photo/'+userId+'" /></a>'
					+ '<div class="media-body">' + text + '<br />'
					+' <small class="text-muted">' + name + ' | ' + time + '</small>' 
					+ '<hr /></div></div></div></li>';

			if (!oldestMsg || seq < oldestMsg) {
				oldestMsg = seq;
				var oldHeight = $("#messagesList").height();
				$("#messagesList").prepend(html);
				var newHeight = $("#messagesList").height();
				$("div").scrollTop(newHeight - oldHeight);

			} else {
				$("#messagesList").append(html);
				$("div").scrollTop($("#messagesList").height());
			}

			if (!$('#messagesPanel').hasScrollBar()) {
				receiveMore();
			}
		}

		function sendMessage() {
			var text = $("#messageText").val();
			Kurento.sendMessage(text);
			$("#messageText").val("");

		}

		function playStop() {
			timeline.togglePlayStop(function() {
				$("#playStop").html('<i class="fa fa-pause"></i>');
				$("#playStop").attr('class', 'btn btn-warning');
				Kurento.setPlay(true);
			}, function() {
				$("#playStop").html('<i class="fa fa-play"></i>');
				$("#playStop").attr('class', 'btn btn-success');
				Kurento.setPlay(false);
			});
		}

		function selectUser(userId){
			savedUser = selectedUser = userId;
		
			if (real_time) {
				Kurento.receiveRealtime(selectedUser);
			} else {
				Kurento.receiveHistoric(selectedUser, current_offset);
			}
		}

		
		function selectVideo(isGroup) {
			if(isGroup){
				selectedUser = null;
				$("#individualVideo").show();
				$("#groupVideo").hide();
			}
			else {
				selectedUser = savedUser;
				$("#individualVideo").hide();
				$("#groupVideo").show();
			}
			
			if (real_time) {
				Kurento.receiveRealtime(selectedUser);
			} else {
				Kurento.receiveHistoric(selectedUser, current_offset);
			}
		}

		function saveTags() {
			console.log(unsaved_tags);
			for ( var i in unsaved_tags) {
				var tag = unsaved_tags[i];
				var visTag = timeline.getRecord(tag.id);
				var time = new Date(visTag.start);

				var title = tag.title;
				var content = tag.content;
				Kurento.createTag(time, title, content);
				timeline.removeTag(tag.id);
			}
			unsaved_tags = [];
			$("#saveButton").addClass("hidden");
		}

		function clearContent(){
			$("#contentText").val("");
			$("#previewContent").html("");
		}
		
		function createContent(){
			var start = parseTime($("#contentStart").val());
			var end = parseTime($("#contentEnd").val());			
			var content = getContent();
			
			if(content){
				Kurento.createContent(start.toISOString(),end.toISOString(),content);
			}
			clearContent();
		}
		
		function getContent(){
			var content = $("#contentText").val();
			if(!content || content.length==0){
				return null;
			}

			if($("#contentCaption").is(':checked')){
				content = '<div class="caption"><span>'+content+'</span></div>';
			}
			return content;
		}
		
		function previewContent(){
			$("#previewContent").html(getContent());
		}
		
		function addContent(key, content) {
			$("#mainVideoContent").append('<div class="overlay-content" id="content'+ key + '">'+content+'</div>');
		}

		function removeContent(key) {
			$("#content" + key).remove();
			delete localContent[key];
		}

		function renderContent() {
			var currentTime = new Date().getTime() - current_offset;
			while (localContent.length != 0) {
				var entry = localContent[0];
				var time = new Date(entry.time);

				if (time.getTime() <= currentTime) {
					localContent.shift();
					if (entry.type == "start") {
						addContent(entry.id, entry.content);
					} else if (entry.type == "end") {
						removeContent(entry.id);
					}
				} else {
					break;
				}
			}
			var hasStarts = false;
			for ( var i in localContent) {
				var entry = localContent[i];
				if (entry.type == "start") {
					hasStarts = true;
					break;
				}

			}
			if (localContent.length == 0) {
				// no content, keep calm 
			} else if (!hasStarts) {	
				if(moreContent){
					// all events started, check if others may start
					Kurento.getContent();
				}else {
					// there is no more content, the server may advertise more content later
				}
			} else {
				// wait for next event
				if(timeline.timeRunning){
					var time = new Date(localContent[0].time);
					if(contentTimer!=null){
						clearTimeout(contentTimer);
					}
					contentTimer = setTimeout(function() {
						contentTimer = null;
						renderContent();
					}, time.getTime() - currentTime);
				}
			}
		}

		function onContentArrived(content,more) {
			moreContent = more;
			$("#mainVideoContent").html("");
			console.log(content);
			localContent = content.sort(function(a, b) {
				return new Date(a.time).getTime() - new Date(b.time).getTime();
			});
			renderContent();
		}

		var mySearch = {
			source: function(query,process){
				Signaling.searchInsideGroup("@groupId",query, function( array ) {
					console.log(array);
					process(array);
				});			
			},
			displayText: function(item){
				return item.title;
			},
			highlighter: function(item){
				if(item.type=="tag"){
					return "<i class='fa fa-tag'></i> "  + item.title + " <small>("+friendlyTime(item.time)+")</small>";
				}else {
					return "<i class='fa fa-font'></i> " + item.name ;
				}
			},
			matcher: function(item){
				return true;
			},
			updater:function(item){
				if(item.type=="tag"){
					timeline.setHistoric(item.time);
				}
				console.log(item);
				return item;
			}
		};

		function copyLink(){
			$("#timeQueryString").select();
		}
		
		function createInvite2(){
			Signaling.createInvite("@groupId",function(token){
				$("#invite").val($(location).attr('protocol')+"//"+$(location).attr('host')+"/join/@groupId/" + token);	
			});
		}

		function deleteInvite2(){
			Signaling.deleteInvite("@groupId",function(){
				$("#invite").val("");	
			});
		}
		
		function removeMemberConfirmation(uid,name){
			$("#removeMemberModal").modal("show");
			$("#removeUserName").html(name);
			$("#removeUserId").val(uid);
			$("#removeUserButton").click(function(){
				var success = function() {
					$("#vidMember"+uid).remove();
					$("#removeMemberModal").modal("hide");

				};
				Signaling.removeUserGroup("@groupId", uid, success);
			});
			
		}
		
		function del_user_group(uid) {

		}
		
		function add_user_group(uid) {
			var success = function() {
				document.location = document.location;
			};
			Signaling.addUserGroup("@groupId", uid, success);
		}
		
		function candidate_search(query) {
			var result = function(array) {
				console.log("candidate",query,array);

				var html = "";
				for ( var i in array) {
					var uid = array[i].uid;
					var name = array[i].name;

					var style2='style="background-image:url(/photo/'+uid+');height:40px;width:40px"';
					var add_button = "<i style='color:green' onclick='add_user_group(\"" + uid	+ "\")' class='fa fa-plus'></i>";
					html += '<div class="media"><a '+style2+' class="pull-left media-object circular"></a>'+
					'<div class="media-body"><h5>'+name+' | User | '+add_button+'</h5></div></div>';
				}
				$("#candidateList").html(html);
			};
			Signaling.searchGroupCandidates("@groupId", query, result);
		}
		
		function onKurentoOpen(){
			console.log("WebSocket Ok!");
			var attrs = parseQuery(document.location.search);
			if(attrs.time){
				timeline.setHistoric(new Date(attrs.time));
			}
		}
		
		function kurentoStart(mode){
			Kurento.start("@groupId",mode,onKurentoOpen ,participantInfo, videoStream, mixedStream, intervalRecorded, messageArrived,tagArrived, onContentArrived);
			$('#participantModal').modal('hide');
		}
		
		$(document).ready(function() {
			switchTab("#mytabs","#mybtns",1);
			$('#participantModal').modal('show');
			$('#searchNav').show();
			$('#searchText').typeahead(mySearch);	
			
			$("#navbar-list").append("<li><a>@groupName</a></li>");
			
			
			$("#createTagForm").submit(function(event){
				event.preventDefault();
				$("#createTagModal").modal('hide');
				var id = makeid();
				var title = $("#tagTitle").val();
				var content = "";

				unsaved_tags.push({
					id : id,
					title : title,
					content : content
				});
				timeline.addTag(id, title);
				$("#saveButton").removeClass("hidden");
			});
			
			
			
			$("#refresh-button").click(function() {
				document.location = document.location;
			});
			
			$("#home-button").click(function() {
				document.location = "/";
			});
	
			@if(inviteToken!=null){
				$("#invite").val($(location).attr('protocol')+"//"+$(location).attr('host')+"/join/@groupId/@inviteToken");	
			}
		
			$('#datetimepicker1').datetimepicker({
				format : 'DD/MM/YYYY HH:mm:ss',
				defaultDate : new Date(),
				showTodayButton:true

			});
			$('#datetimepicker2').datetimepicker({
				format : 'DD/MM/YYYY HH:mm:ss',
				defaultDate : new Date(new Date().getTime()+1000),
				showTodayButton:true

			});

			$("#messagesPanel").scroll(function() {
				if ($("#messagesPanel").scrollTop() == 0) {
					receiveMore();
					$("#messagesPanel").scrollTop(1);
				}
			});

			// plugtrade.com - jQuery detect vertical scrollbar function //
			(function($) {
				$.fn.hasScrollBar = function() {
					var divnode = this.get(0);
					if (divnode.scrollHeight > divnode.clientHeight)
						return true;
				}
			})(jQuery);

			timeline = HyperTimeline.create("timeline",
				function(offset) {
					console.log("HISTORIC", offset);
					// current request
					current_offset = offset;
					Kurento.receiveHistoric(selectedUser, current_offset);
					real_time = false;

				}, function() {
					console.log("REALTIME");
					// realtime request
					Kurento.receiveRealtime(selectedUser);
					real_time = true;
				}
			);
		
		});	
	</script>
}
