@(groupId : String, groupName : String, userId : String) @template(1){

	<script type="text/javascript" src="/assets/this/js/adapter.js"></script>
	<script type="text/javascript" src="/assets/this/js/kurento_main.js"></script>
	<script type="text/javascript" src="/assets/this/js/hyper_timeline.js"></script>
	<script type="text/javascript" src="/assets/this/js/scripts.js"></script>

	<div class="row row-centered">
		<div class="btn-group col-centered" role="group" id="mybtns">
		  <button type="button" onclick="switchTab('#mytabs','#mybtns',1)" class="btn btn-default"><i class="fa fa-video-camera"></i></button>
		  <button type="button" onclick="switchTab('#mytabs','#mybtns',2)" class="btn btn-default"><i class="fa fa-users"></i></button>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">	
			<div id="mytabs" style="padding-top: 20px;">
				<div>@group_video(groupId,userId)</div>
				<div>@group_friends(groupId,userId)</div>
			</div>
		</div>
	</div>
	<script>
		
			function searchFunction(query,process){
				$.get( "/api/group/search/@groupId?query="+query, function( data ) {
					console.log(data);
					process(JSON.parse(data));
				});				
			}
		
			function matcherFunction(item){
				// should return true when the server will return the correct results
				return item.name.toLowerCase().indexOf(this.query.toLowerCase()) >= 0;
			}
			
			
			function textFunction(item){
				return JSON.stringify(item);
			}
			
			
			function displayFunction(item){
				var obj = JSON.parse(item);
				return (obj.type=="tag"? "<i class='fa fa-tag'></i>" : "<i class='fa fa-font'></i>" )+ " " + obj.name;
			}
			
	
		function onKurentoOpen(){
			console.log("WebSocket Ok!");
		}
		
		$(document).ready(function() {
			switchTab("#mytabs","#mybtns",1);
			
			$('#searchNav').show();
			$('#searchText').typeahead({ 
				source: searchFunction,
				displayText: textFunction,
				highlighter:displayFunction,
				matcher:matcherFunction
			});	
			
			$("#navbar-list").append("<li><a>@groupName</a></li>");
			
			Kurento.start("@groupId",onKurentoOpen ,participantOnline, videoStream, mixedStream, intervalRecorded, messageArrived,tagArrived, onContentArrived);
			
			
			$("#refresh-button").click(function() {
				document.location = document.location;
			});
			
			$("#home-button").click(function() {
				document.location = "/";
			});
	
			Signaling.getInvite("@groupId",function(token){
				$("#invite").val($(location).attr('protocol')+"//"+$(location).attr('host')+"/join/@groupId/" + token);	
			});
			
			Signaling.listGroupMembers("@groupId",function(array) {
				for ( var i in array) {
					var uid = array[i].uid;
					var name = array[i].name;
	
					var del_button = "<i style='color:red' onclick='del_user_group(\""+ uid+ "\")' class='fa fa-times'></i>";
					var onclick = 'onclick=\'select_user("'+uid+'")\'';
					var style1='style="background-image:url(/photo/'+uid+');height:100px;width:100px"';
					var style2='style="background-image:url(/photo/'+uid+');height:40px;width:40px"';
	
					$("#membersList").append(
						'<div class="media" '+ onclick+'>'+
						'<a id="vidMember'+uid+'" '+style2+' class="pull-left media-object circular"></a>'+
						'<div class="media-body"><h5>'+name+' | User | '+del_button+'</h5><small class="text-muted">Active From 3 hours</small></div></div>'
					);
					
					$("#videoMembers").append(
						'<div class="media" '+ onclick+'>'+
						'<a id="vidMember'+uid+'" '+style2+' class="pull-left media-object circular circular-offline"></a>'+
						'<div class="media-body"><h5>'+name+' | User</h5><small class="text-muted">Active From 3 hours</small></div></div>'
					);
					
					$("#messengerMembers").append(
						'<div class="media">'+
						'<a id="msgMember'+uid+'" '+style2+' class="pull-left media-object circular circular-offline"></a>'+
						'<div class="media-body"><h5>'+name+' | User</h5><small class="text-muted">Active From 3 hours</small></div></div>'
					);
				}
			});
		});	
	</script>
}
