@() @template(1){
<script type="text/javascript" src="/assets/this/js/search.generic.js"></script>

<div id="createRoomModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Room</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Room Name:</label>
                    <input type="text" class="form-control" id="group_name"/>
                </div>
            </div>
            <div class="modal-footer">
                <div class="input-group pull-right">
                    <div class="btn btn-success" id="addMembers"
                         onclick="group_create($('#group_name').val())">Create
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading" data-toggle="collapse"
                         data-target="#collapse1">
                        <h4 class="panel-title">Friend requests</h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul id="friend-requests"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading" data-toggle="collapse"
                         data-target="#collapse2">
                        <h4 class="panel-title">Friend list</h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul id="friend-list"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success" id="addMembers" data-toggle="modal"
                                data-target="#createRoomModal">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="panel-heading" data-toggle="collapse"
                         data-target="#collapse3">
                        <h4 class="panel-title">Room list</h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul id="group-list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

	$(document).ready(
        function() {
            $('#searchNav').show();
            $('#searchText').typeahead(SearchGeneric);

            Signaling.listRequests(function(array) {
                var html = "";
                for ( var i in array) {
                    var add_button = "<button onclick='user_add(\""
                            + array[i].id + "\")'>accept</button>";
                    var del_button = "<button onclick='user_del(\""
                            + array[i].id + "\")'>deny</button>";

                    html += "<li>" + array[i].email + add_button
                            + del_button + "</li>";
                }
                $("#friend-requests").html(html);
            });
            Signaling.listRelations(function(array) {
                console.log(array);
                var html = "";
                for ( var i in array) {

                    html += "<li><a href='/user/"+array[i].id+"'>" + array[i].name + "</a></li>";
                }
                $("#friend-list").html(html);
            });
            Signaling.listGroups(function(array) {
                var html = "";
                for ( var i in array) {
                    html += "<li><a href='/group/"+array[i].id+"'>"
                            + array[i].name + "</a></li>";
                }
                $("#group-list").html(html);
            });
        }
    );

	function user_del(userId) {
		var success = function() {
			document.location = "/";
		}
		Signaling.rejectRelation(userId, success);
	}

	function group_create(name) {
		var success = function() {
			document.location = "/";
		}
		Signaling.createGroup(name, success);
	}

	function user_add(userId) {
		var success = function() {
			document.location = "/";
		}
		Signaling.addRelation(userId, success);
	}



</script>
}