@(userId : String, from : Boolean, to : Boolean) 
@template(1){
<script type="text/javascript" src="/assets/this/js/search.generic.js"></script>

<div class="container-fluid">
	<div class="container">
		<div class="row">
			@from | @to
		</div>
		<div class="row">
		
		
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading" data-toggle="collapse"
				data-target="#collapse1">
				<h4 class="panel-title">User Profile</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="userTitle"></div>
				</div>
			</div>
		</div>
	</div>
		</div>
	</div>
</div>



<script>

	$(document).ready(
		function() {
			
			$('#searchNav').show();
			$('#searchText').typeahead(SearchGeneric);	
		
			Signaling.userProfile("@userId",function(user) {
				$("#userTitle").html(JSON.stringify(user));
			});
		}
	);

	function user_del(userId) {
		var success = function() {
			document.location = "/";
		}
		Signaling.rejectRelation(userId, success);
	}

	function user_add(userId) {
		var success = function() {
			document.location = "/";
		}
		Signaling.addRelation(userId, success);
	}


</script>
}