@()

@template(1){
<div class="container-fluid">
	<div class="container">	
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-info">
					<div class="panel-heading" data-toggle="collapse"
						data-target="#collapse3">
						<h4 class="panel-title">Login</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse in">
						<form class="form-horizontal" id="login-form">
							<div class="panel-body">
									<div class="input-group">
										<label class="control-label">Email:</label> 
										<input class="form-control" name="email" value="" placeholder="Email" type="text">
									</div>		
									<div class="input-group">
										<label class="control-label">Password:</label> 
										<input class="form-control" name="password" value="" placeholder="Password" type="password">
									</div>			
							</div>
							<div class="panel-footer">						
								<div class="input-group">
									<button type="submit" class="btn btn-success">Login</button>
								</div>
							</div>
						</form>				
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-info">
					<div class="panel-heading" data-toggle="collapse"
						data-target="#collapse4">
						<h4 class="panel-title">Register</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse in">
						<form class="form-horizontal" id="register-form">
							<div class="panel-body">
									
									<div class="input-group">
										<label class="control-label">Email:</label> 
										<input class="form-control" name="email" value="" placeholder="Email" type="text">
									</div>	
									<div class="input-group">
										<label class="control-label">Name:</label> 
										<input class="form-control" name="name" value="" placeholder="Name" type="text">
									</div>		
									<div class="input-group">
										<label class="control-label">Password:</label> 
										<input class="form-control" name="password" value="" placeholder="Password" type="password">
									</div>
									<div class="input-group">
										<label class="control-label">Confirm Password:</label> 
										<input class="form-control" name="password2" value="" placeholder="Confirm Password" type="password">
									</div>		
									<div class="input-group">
										<label class="control-label">Photo:</label> 
										<input type="file" name="photo" />								
									</div>	
							</div>
							<div class="panel-footer">						
								<div class="input-group">
									<button type="submit" class="btn btn-success">Register</button>
								</div>
							</div>
						</form>				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
		$( document ).ready(function() {
			$( "#login-form" ).submit(function( event ) {
				var email = this.elements["email"].value;
				var password = this.elements["password"].value;
				var success = function(){
					document.location = "/";
				} 
				var error = function(){
					alert("fail");
				} 
				Signaling.login(email,password,success,error);
				event.preventDefault();
			});
			
			$( "#register-form" ).submit(function( event ) {					
				//grab all form data  
				var success = function(){
					alert("success");
				} 
				var error = function(){
					alert("fail");
				} 

				
				
				var email = this.elements["email"].value;
				var password1 = this.elements["password"].value;
				var password2 = this.elements["password2"].value;
				var photo = this.elements["photo"].files[0];
				var name = this.elements["name"].value;
				var formData = new FormData();
				formData.append("name",name);
				formData.append("photo",photo);
				
				Signaling.register(email,password1,password2,formData,success,error);
				event.preventDefault();

			});
		});

		
	</script>
}