@()

@template(1){

}{
<h1>Test</h1>

<textarea type="text" id="textOt"  class="form-control">
    This is just a simple test.
</textarea>
<script>

    function wsurl(s) {
        var l = window.location;
        return ((l.protocol === "https:") ? "wss://" : "ws://") + l.hostname + (((l.port != 80) && (l.port != 443)) ? ":" + l.port : "") + s;
    }

    $(document).ready(function(){

        var socket = io({transports: ['websocket'],path:'/ws/ot/test'});
        socket.connect();
        socket.emit('add user', 'xpto');


        console.log(socket);
        var editor = CodeMirror.fromTextArea(document.getElementById("textOt"), {
          lineNumbers: true,
          mode: "text/html",
          matchBrackets: true
        });

        var socketAdapter = new ot.SocketIOAdapter(socket);
        var editorAdapter = new ot.CodeMirrorAdapter(editor);
        var client = new ot.Client(0);
        var editorClient = new ot.EditorClient(0,[client],socketAdapter,editorAdapter);

/*
        ws.onopen = function (event) {

        };

        ws.onmessage = function (event) {
            console.log("to",ot.TextOperation);
            var ops = JSON.parse(event.data);
            var op = ot.TextOperation.fromJSON(ops);
            editorAdapter.applyOperation(op);
        }

	    console.log(ot);

        editorAdapter.registerCallbacks({
            change: function (a,b) {
                ws.send(JSON.stringify(a.toJSON()));
            }
        });
*/
    });
</script>

}