@(message: String)

@template {
    <div class="jumbotron">
        <div class="container">
    
   		<video id="myvideo" autoplay="autoplay"></video>
       </div>
    
    </div>
    
    <script type="text/javascript">
	    'use strict';
	    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
	    var constraints = {audio: false, video: true};
	    var video = document.getElementById('myvideo');
	    
	    function successCallback(stream) {
	      window.stream = stream; // stream available to console
	      if (window.URL) {
	        video.src = window.URL.createObjectURL(stream);
	      } else {
	        video.src = stream;
	      }
	    }
	
	    function errorCallback(error){
	      console.log('navigator.getUserMedia error: ', error);
	    }
	
	    navigator.getUserMedia(constraints, successCallback, errorCallback);
    </script>

}
