@()
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><b>&lt;call&#47;&gt;</b></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			@if(session.get("user")==null){
				<form class="navbar-form navbar-right" action="/login" method="POST" id="login-form">
					<div class="form-group">
						<input placeholder="Username" name="username" class="form-control" type="text">
					</div>
					<div class="form-group">
						<input placeholder="Password" name="password" class="form-control" type="password">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			}else {
				<div class="navbar-form navbar-right">
					<a type="submit" class="btn btn-success" href="/logout">Logout</a>
				</div>
			}
		</div>
		<!--/.navbar-collapse -->
	</div>

	<script type="text/javascript">
		$("#login-form").submit(function( event ) {
			event.preventDefault();
			var username = this.elements["username"].value;
			var password = this.elements["password"].value;
			
			var connected = function(){
				alert("connected!");
			}
			
			var fail = function(){
				alert("fail!");
			}
			
			
			xmpp_login(username,password,connected,fail);
			
		});
	
	</script>

</nav>

