@() @template {


<div class="jumbotron">

	<svg>
  <rect width="128px" height="128px" fill="green"
			xlink:href="/assets/images/tux.png">
  
  <animate id="anim1" attributeName="fill" to="blue" dur="1s"
			begin="0s;anim2.end" repeatCount="1" fill="freeze" />
  <animate id="anim2" attributeName="fill" to="green" dur="1s"
			begin="anim1.end" repeatCount="1" fill="freeze" onend="count()" />
  
  </rect>
</svg>
	<h3 id="counter">0</h3>

	<div class="btn btn-default" onclick="change()">Change Green to
		Red</div>

</div>



<script>
	var counter = 0;
	var counter2 = 0;

	function change() {
		$("#anim2").attr("to", "red");
	}

	function count() {
		++counter;
		$("#counter").text(counter);
	}

	function count2() {
		++counter2;
		$("#counter2").text(counter2);
		var my_video = document.getElementById("my_video");

		my_video.play();

	}

	function enter(e) {
		if (e.keyCode == 13) {
			var my_video = document.getElementById("my_video");
		
			my_video.playbackRate = $("#speed").val();
		}
	}

	
	function jump() {
		var my_video = document.getElementById("my_video");
		my_video.currentTime = 20;
	}
</script>

<video id="my_video" autoplay controls width="512px" height="512px"
	onended="count2();">
	<source src="/assets/video.webm" type="video/webm" codecs="vp8, vorbis">
</video>
<h3 id="counter2">0</h3>
<input type="text" id="speed" onkeydown="enter(event)" />
<div class="btn btn-default" onclick="jump()">Jump to 20s</div>



<div width="200" height="200">
  <t:seq t:repeatDur="indefinite">

    <img src="/assets/images/green.png" t:dur="2" t:timeAction="display">
    <img src="/assets/images/blue.png" t:dur="2" t:timeAction="display">
  </t:seq>
</div>
}

