@(content : Html)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@* 
	<!DOCTYPE html> 
*@
<html lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Henrique Rocha">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>WebRTC hyper connected calls</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/sticky-footer.css" rel="stylesheet">
    <link href="/assets/css/jumbotron.css" rel="stylesheet">
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>  
    <script src="/assets/js/strophe.js"></script>
	<script src="/assets/js/strophe.register.js"></script>
	<script src="/assets/js/my_xmpp.js"></script>
    
    <script>
		
		$(document).ready(function () {
			xmpp_connect();
		});		
	</script>
  </head>

  <body>
	@nav()
    @content
    
    <div id="log"></div>
    
	<footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

</body></html>