@(groupId : String, userId : String)


<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default container-full">
			<div id="timeline"></div>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-sm-8">
		<div class="panel panel-default">
			<video id='myvideo' autoplay width='480px' height='360px'
				style="margin: 0px auto; display: block;"></video>
			<video id='mymixed' autoplay width='320px' height='240px'
				style="margin: 0px auto; display: none;"></video>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default" id="footer-row"></div>
	</div>
</div>

<script>
	var selected_user =	"@userId";
	var real_time = true;


	function select_user(userId){
		selected_user = userId;
		
		if(real_time){			
			Kurento.receiveRealtime(selected_user);
		}else {
			Kurento.receiveHistoric(selected_user,current_offset);
		}	
	}
</script>