@(groupId : String, userId : String)


<div class="row">
	<div class="col-sm-12">
		<button type="button" class="btn btn-warning" onclick="playStop()" id="playStop">
			<i class="fa fa-pause"></i>
		</button>
		<div class="panel panel-default container-full">
			<div id="timeline"></div>
		</div>
		<button onclick="add_tag()">+tag</button>
		<input type="text" id="tagContent"/>
		
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">VIDEO</div>
			<div class="panel-body">
				<video id='myvideo' autoplay width='480px' height='360px'
				style="margin: 0px auto; display: block;"></video>
			<video id='mymixed' autoplay width='320px' height='240px'
				style="margin: 0px auto; display: none;"></video>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">USERS</div>
			<div class="panel-body">
				<ul class="media-list">

					<li class="media">

						<div class="media-body" id="videoMembers">



						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<script>
	var selected_user =	"@userId";
	var real_time = true;

	
	
	function playStop(){
		timeline.togglePlayStop(
			function(){
				$("#playStop").html('<i class="fa fa-pause"></i>');
				$("#playStop").attr('class','btn btn-warning');	
				Kurento.setPlay(true);
			},
			function(){
				$("#playStop").html('<i class="fa fa-play"></i>');
				$("#playStop").attr('class','btn btn-success');					
				Kurento.setPlay(false);
			}
		);
	}

	function select_user(userId){
		selected_user = userId;
		
		if(real_time){
			Kurento.receiveRealtime(selected_user);
		}else {
			Kurento.receiveHistoric(selected_user,current_offset);
		}	
	}
	
	function add_tag(){
		var date = new Date();
		var id = "tag"+date;
		timeline.addTag(id,date,$("#tagContent").val());
	}
</script>