@(groupId : String, groupName : String, userId : String)

<html>
	<head>
		<script type="text/javascript" src="/assets/js/jquery.js"></script>	
		<script type="text/javascript" src="/assets/js/adapter.js"></script>	
		<script type="text/javascript" src="/assets/js/signaling.js"></script>
		<script type="text/javascript" src="/assets/js/participant.js"></script>
		<script type="text/javascript" src="/assets/js/kurento.js"></script>
		<script type="text/javascript" src="/assets/js/webrtc.js"></script>	
	</head>
	<body>
		<button id="logout-button">Logout</button>		
		<button id="home-button">Home</button>
		<button id="refresh-button">Refresh</button>
		<h1>@groupName</h1>
		
		<h3>Add Members</h3>
		&nbsp;Search:<input type="text" onchange="candidate_search(this.value)"/>
		<ul id="candidate-list"></ul>
		
		
		<h3>Members List</h3>
		<ul id="member-list"></ul>
	
		<h3>My Video</h3>
		<div class="col-md-5">
			<video id="myvideo" autoplay width="480px" height="360px" poster="/assets/images/webrtc.png"></video>
		</div>
		
		
		
		
		<h3>Online Members</h3>
		<ul id="online-members"></ul>
		
		<h3>Test</h3>
		<div id="participants"></div>
		<script>
			var participants = {};
		
			$( document ).ready(function() {
			
				var kready = function(){				
					Kurento.joinRoom("@groupId");
				}
								
				var kparticipants = function(userId, email){
					if(!participants[userId]){
						$("#online-members").append("<li>"+email+"</li>");
						participants[userId] = email;						
					}
				}
				
				var kvideo = function(userId){
					var newVideoId = "video"+userId;
					$("#participants").append("<video id='"+userId+"' autoplay width='240px' height='180px' poster='/assets/images/webrtc.png'></video>");
					return document.getElementById(newVideoId);
				}
				
			
				var myvideo = document.getElementById("myvideo");
				Kurento.init(myvideo,"@userId","@groupId",kready,kparticipants,kvideo);
				
				$("#logout-button").click(function(){
					Signaling.logout(function(){
						document.location = document.location;
					})
				});	
				$("#refresh-button").click(function(){
					document.location = document.location;
				});
				$("#home-button").click(function(){
					document.location = "/";
				});
				
				Signaling.listGroupMembers("@groupId", function(array){
					var html = "";
					for(var i  in array){
						
						
						var del_button = "<button onclick='del_user_group(\""+array[i].id+"\")'>remove</button>";
						//var sdp_button = "<button onclick='get_sdp(\""+array[i].mid+"\")'>sdp</button>";
						html += "<li>"+array[i].email+del_button+"</li>";
					}
					$("#member-list").html(html);
				});
	
				
			});
			
			function del_user_group(uid){
				var success = function(){
					document.location = document.location;
				};
				
				Signaling.removeUserGroup("@groupId",uid,success);
			}

			
			function add_user_group(uid){
				var success = function(){
					document.location = document.location;
				};
				
				Signaling.addUserGroup("@groupId",uid,success);
			}
			
			function candidate_search(query){
				var result = function(array){
					var html = "";
					for(var i  in array){
						var add_button = "<button onclick='add_user_group(\""+array[i].id+"\")'>add</button>";
						html += "<li>"+array[i].email+add_button+"</li>";
					}
					$("#candidate-list").html(html);	
				};
				Signaling.searchGroupCandidates("@groupId",query,result);
			}

			
			
			
			
		</script>
	</body>
</html>