@()

<html>
	<head>
		<script type="text/javascript" src="/assets/js/jquery.js"></script>	
		<script type="text/javascript" src="/assets/js/signaling.js"></script>	
	</head>
	<body>
		<button id="logout-button">Logout</button>		
		<button id="refresh-button">Refresh</button><br>
		
		Search:<input type="text" onchange="user_search(this.value)"/><br>
		
		<ul id="search-users">
		
		</ul>
		<script>
			$( document ).ready(function() {
				$("#logout-button").click(function(){
					Signaling.logout(function(){
						document.location = "/";
					})
				});	
				$("#refresh-button").click(function(){
					document.location = "/";
				});	
			});
			
			function user_add(userId){
				var success = function(){
					document.location = "/";
				}
				Signaling.addRelation(userId,success);
			}
			
			function user_search(query){
				var result = function(array){
					var html = "";
					for(var i  in array){
						var add_button = "<button onclick='user_add(\""+array[i].email+"\")'>add</button>";
						html += "<li>"+array[i].email+(array[i].state==0?add_button:"")+"</li>";
					}
					$("#search-users").html(html);	
				}
				Signaling.search(query,result);
			}
			
		</script>
	</body>
</html>