body,html {
   background-color: #F9F9F9;
	width:100%;
	height:100%;
}

.disabled {
    pointer-events: auto;
      cursor: default !important;
}
.badge-danger {
    background-color: #D43F3A;
}
/* ======================================================*/

.fullscreen {
	position: fixed;
	left:0px;
	right:0px;
	top:0px;
	z-index:9999;
	bottom:0px;
	width:100%;
	height:100%;
	background-color: #202020;
}

.fullscreen #videoWrapper {
	top: 50%;transform: translateY(-50%);
    position: static;
	display: inline;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.fullscreen #videoWrapper #myvideo {
	display:block;
	/*margin: 0px auto;*/
	position: relative; 
	height: auto;
	width:100%;
	max-width:100%;
	max-height:100%;
}

/* ======================================================*/

#mainVideoContent {
	position: absolute; 
	z-index: 99; 
	width: 100%; 
	height: 100%;
}

#myvideo {
	display:block;
	margin: 0px auto; 
	position: relative; 
	height: auto;
	width:100%;
	max-height:100%;
	background-color: #000000;	
}

#ownvideo {
    display:block;
	margin: 0px auto;
	position: absolute;
	height: auto;
	bottom: 0px;
	right: 0px;
	z-index: 98;
	width:20%;
	max-height:100%;
	background-color: transparent;

}

#videoWrapper {
	position: relative; 
	display: inline-block;  
	width:100%; 
	height: 100%;
}



/* ======================================================*/

.selectedDelete> *{
	border: 2px solid red!important;
}

.panel-red {
    border-color: #D9534F;
}

.panel-green a {
    color: #5CB85C;
}

.panel-red a {
    color: #D9534F;
}

.panel-primary {
    border-color: #337AB7;
}
.panel-green {
    border-color: #5CB85C;
}

.panel-red .panel-heading {
    border-color: #D9534F;
    color: #FFF;
    background-color: #D9534F;
}

.panel-green .panel-heading {
    border-color: #5CB85C;
    color: #FFF;
    background-color: #5CB85C;
}

.text-off {
	color: #CCCCCC;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.typeahead { z-index: 1051; }

.caption > * {
	color:white;
	background-color: rgba(0,0,0,0.5);
}

.navbar-brand > img {
	height: 24px;
	width:  24px;
}
    
.navbar-brand2 {
    background-image: url("/assets/images/favicon.png");
    width:auto;
    height:100%;
    background-size: cover;
    vertical-align: center;
}

.caption{
	position: absolute;
	width:100%;
	text-align: center;
	bottom:0px;
	display:inline-block;
}

.caption span {
	font-size: 1.5em;
}

.overlay-content {
	position: absolute;
	z-index:99;
	width:100%;
	height:100%;
	display:inline-block;
}

.ui-datepicker{ z-index: 9999 !important;}

.vis-custom-time {
	pointer-events: none;
}

.vis-item.warning {
  color: white;
  background-color: #F0AD4E;
  border-color: #E09D3E;
}
.vis-item.danger {
  color: white;
  background-color: #d9534f;
  border-color: #c9433f;
}

.tagsGroup .vis-item.vis-selected {
  color: #9f9f9f;
  background-color: #efefef;
  border-color: #bfbfbf;
}

.recsGroup .vis-item.vis-selected
{
  color: #9f9f9f;
  background-color: #d9534f;
  border-color: #c9433f;
}

.vis-item.default {
  color: #7f7f7f;
  background-color: #dfdfdf;
  border-color: #9f9f9f;
}

.vis-item.info {
  color: white;
  background-color: #5bc0de;
  border-color: #4bb0ce;
}

.vis-item.success {
  color: white;
  background-color: #5cb85c;
  border-color: #4ca84c;
}

.vis-item {
/*	height: 100% !important;*/
/*	top: 0px !important;*/
}

.vis-group, .vis-center {
/*	height: 32px !important;*/
}

.vis-timeline {
	border: none !important;
}

.container-full {
	padding: 0px !important;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.panel-title {
    text-transform: uppercase;
}

.circular {
    background-image: url("/assets/images/default.png");
    display: inline-block;
	margin:6px;	
	text-align:right;
	color:red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.circular-offline .circular {
  	border: 3px solid #DA5555;
}

.circular-online .circular {
  	border: 3px solid #BADA55;
}

input,button {
    color: black;
}

footer {
	z-index:10;
	padding-top: -25px;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}